.slick-slider {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.slick-arrow {
    font-size: 3rem;
    cursor: pointer;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.slick-track:active {
    cursor: grabbing;
}

.slick-slide {
    display: flex;
    justify-content: center;
}
